spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/ecoshop  # Puerto 5433 para evitar conflicto con PostgreSQL local
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    com.ecoshop: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

